body {
    margin: 0;
}

.leftline {
    background-color: antiquewhite;
    flex: 300px;
}

.rightline {
    background-color: aquamarine;
}

section {
    display: flex;
    padding: 10px;
    margin: 10px;
}